<nav class="container-fluid no-gutters">

  <app-header></app-header>

  <div class="row">
    <div class="navbar bg-light col">
      <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="accueil" routerLinkActive="active-link">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="messages" routerLinkActive="active-link">Liste des messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="ajouter-message" routerLinkActive="active-link">Ajouter un message</a>
        </li>
      </ul>
    </div>
  </div>

</nav>